.sharkTank {
background: url('../assets/sharkTank.jpeg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}